<div class="stats shadow-md bg-base-200 border border-secondary w-full h-full">
    <div class="stat place-items-center">
        @if (gameDetails().gameState === 'PRE' || gameDetails().gameState === 'FUT') {
            <div class="stat-value text-base">{{gameDetails().awayTeam.abbrev}}</div>
            <div class="stat-desc">{{gameDetails().awayTeam.record}}</div>
        }
        @if (gameDetails().gameState === 'LIVE' || gameDetails().gameState === 'CRIT') {
            <div class="stat-title">{{gameDetails().awayTeam.abbrev}}</div>
            <div class="stat-value">{{gameDetails().awayTeam.score}}</div>
            <div class="stat-desc">{{gameDetails().awayTeam.sog}}</div>
        }
    </div>
    <div class="stat place-items-center">
        @if (gameDetails().gameState === 'PRE' || gameDetails().gameState === 'FUT') {
            <div class="stat-value text-base">{{gameDetails().homeTeam.abbrev}}</div>
            <div class="stat-desc">{{gameDetails().homeTeam.record}}</div>
        }
        @if (gameDetails().gameState === 'LIVE' || gameDetails().gameState === 'CRIT') {
            <div class="stat-title">{{gameDetails().homeTeam.abbrev}}</div>
            <div class="stat-value">{{gameDetails().homeTeam.score}}</div>
            <div class="stat-desc">{{gameDetails().homeTeam.sog}}</div>
        }
    </div>
    <div class="stat place-items-center">
        @if (gameDetails().gameState === 'LIVE' || gameDetails().gameState === 'CRIT') {
            <div class="stat-title text-lg">{{gameDetails().periodDescriptor?.number}}</div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f80606" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="2"></circle><path d="M16.24 7.76a6 6 0 0 1 0 8.49m-8.48-.01a6 6 0 0 1 0-8.49m11.31-2.82a10 10 0 0 1 0 14.14m-14.14 0a10 10 0 0 1 0-14.14"></path></svg>
            <div class="stat-value text-base">{{gameDetails().clock?.timeRemaining}}</div>
        }
        @if (gameDetails().gameState === 'PRE' || gameDetails().gameState === 'FUT') {
            <div class="stat-value text-base">{{gameDetails().startTimeEastern}}</div>
        }
    </div>
</div>
