<div class="stats shadow-md bg-base-200 border border-secondary w-full h-full">
    <div class="stat place-items-center">
        @if (gameDetails().gameState === 'PRE' || gameDetails().gameState === 'FUT') {
            <div class="stat-value text-base">{{gameDetails().awayTeam.abbrev}}</div>
            <div class="stat-desc">{{gameDetails().awayTeam.record}}</div>
        } @else {
            <div class="stat-title">{{gameDetails().awayTeam.abbrev}}</div>
            <div class="stat-value">{{gameDetails().awayTeam.score}}</div>
            <div class="stat-desc">SOG: {{gameDetails().awayTeam.sog}}</div>
        }
    </div>
    <div class="stat place-items-center">
        @if (gameDetails().gameState === 'PRE' || gameDetails().gameState === 'FUT') {
            <div class="stat-value text-base">{{gameDetails().homeTeam.abbrev}}</div>
            <div class="stat-desc">{{gameDetails().homeTeam.record}}</div>
        } @else {
            <div class="stat-title">{{gameDetails().homeTeam.abbrev}}</div>
            <div class="stat-value">{{gameDetails().homeTeam.score}}</div>
            <div class="stat-desc">SOG: {{gameDetails().homeTeam.sog}}</div>
        }
    </div>
    <div class="stat place-items-center">
        @if (gameDetails().gameState === 'LIVE' || gameDetails().gameState === 'CRIT') {
            <div class="stat-title text-lg">
                @if (gameDetails().clock?.inIntermission) {
                    END {{gameDetails().periodDescriptor?.number}}
                } @else {
                    P{{gameDetails().periodDescriptor?.number}}
                }
            </div>
            @if (!gameDetails().clock?.inIntermission) {
                <div class="stat-value text-base">{{gameDetails().clock?.timeRemaining}}</div>
            }
        }
        @if (gameDetails().gameState === 'PRE' || gameDetails().gameState === 'FUT') {
            <div class="stat-value text-base">{{gameDetails().startTimeEastern}} ET</div>
        }
        @if (gameDetails().gameState === 'OVER' || gameDetails().gameState === 'FINAL' || gameDetails().gameState === 'OFF') {
            @if (gameDetails().gameOutcome?.lastPeriodType !== 'REG') {
                <div class="stat-value text-base">Final ({{gameDetails().gameOutcome?.lastPeriodType}})</div>
            } @else {
                <div class="stat-value text-base">Final</div>
            }
        }
    </div>
</div>
