<fieldset class="fieldset bg-base-100 border border-base-300 rounded-box shadow-md p-4">
    <legend class="fieldset-legend text-xl">Filters</legend>
    <input type="text" placeholder="Search" class="input input-secondary" [(ngModel)]="nameToSearch"/>
    <label class="label text-sm">Status</label>
    <form class="filter">
        <input class="btn filter-reset btn-soft btn-secondary" type="radio" name="activeRetired" aria-label="×" (change)="activeRetired.set(null)"/>
        <input class="btn btn-soft btn-secondary" type="radio" name="activeRetired" aria-label="Active" (change)="activeRetired.set('active')"/>
        <input class="btn btn-soft btn-secondary" type="radio" name="activeRetired" aria-label="Retired" (change)="activeRetired.set('retired')"/>
    </form>
    @if (anyPositions()) {
        <label class="label text-sm">Position</label>
        <form class="filter">
            <input class="btn filter-reset btn-soft btn-secondary" type="radio" name="positions" aria-label="×" (change)="position.set(null)"/>
            @if (positionOptions().goalie) {
                <input class="btn btn-soft btn-secondary" type="radio" name="positions" aria-label="G" (change)="position.set('G')"/>
            }
            @if (positionOptions().defenseman) {
                <input class="btn btn-soft btn-secondary" type="radio" name="positions" aria-label="D" (change)="position.set('D')"/>
            }
            @if (positionOptions().forward) {
                <input class="btn btn-soft btn-secondary" type="radio" name="positions" aria-label="F" (change)="position.set('F')"/>
            }
        </form>
    }
    <label class="label text-sm">
        Qualified
    </label>
    <input type="checkbox" checked="checked" class="checkbox checkbox-secondary" [(ngModel)]="qualified"/>
    <label class="label text-sm">Team</label>
    <select class="select select-secondary" [(ngModel)]="team" (change)="onTeamChange()">
        <option>All</option>
        @for (team of playerListService.teams(); track $index) {
            <option>{{team}}</option>
        }
    </select>
</fieldset>