<table class="table table-auto">
    <thead>
        <tr>
            <th class="cursor-pointer" (click)="sortService.toggleSort('season')">
                <div class="float-left text-left">Season</div><div class="float-right text-right">{{sortService.getSortIcon('season')}}</div>
            </th>
            <th>Team</th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('gamesPlayed')">
                GP {{sortService.getSortIcon('gamesPlayed')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('gamesStarted')">
                GS {{sortService.getSortIcon('gamesStarted')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('wins')">
                W {{sortService.getSortIcon('wins')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('losses')">
                L {{sortService.getSortIcon('losses')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('goalsAgainstAvg')">
                GAA {{sortService.getSortIcon('goalsAgainstAvg')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('savePct')">
                Sv% {{sortService.getSortIcon('savePct')}}
            </th>
            <th>Awards</th>
        </tr>
    </thead>
    <tbody>
        @for (season of stats(); track $index) {
            @if (season.totals.gamesPlayed > 0) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.teamTriCodes.join('/')}}</th>
                    <td [innerHTML]="season.totals.gamesPlayed | boldRecord: season.totals.records?.maxGamesPlayed"></td>
                    <td [innerHTML]="season.totals.gamesStarted | boldRecord: season.totals.records?.maxGamesStarted"></td>
                    <td [innerHTML]="season.totals.wins | boldRecord: season.totals.records?.maxWins"></td>
                    <td [innerHTML]="season.totals.losses | boldRecord: season.totals.records?.maxLosses"></td>
                    <td [innerHTML]="season.totals.goalsAgainstAvg | boldRecord: season.totals.records?.minGAA : season.qualified : false : true : 2"></td>
                    <td [innerHTML]="season.totals.savePct | boldRecord: season.totals.records?.maxSavePct : season.qualified : true : true : 3"></td>
                    <td>
                        @for (award of getSeasonAwards(season.season); track $index) {
                            <app-award-badge [award]="award"/>
                            <br/>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
