<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GP</th>
            <th>GS</th>
            <th>W</th>
            <th>L</th>
            <th>GAA</th>
            <th>Sv%</th>
            <th>Awards</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonStats(); track $index) {
            @if (season.totals.gamesPlayed > 0) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.teamTriCode}}</th>
                    <td [innerHTML]="season.totals.gamesPlayed | boldRecord: season.totals.records?.maxGamesPlayed"></td>
                    <td [innerHTML]="season.totals.gamesStarted | boldRecord: season.totals.records?.maxGamesStarted"></td>
                    <td [innerHTML]="season.totals.wins | boldRecord: season.totals.records?.maxWins"></td>
                    <td [innerHTML]="season.totals.losses | boldRecord: season.totals.records?.maxLosses"></td>
                    <td>{{season.totals.goalsAgainstAvg | number: '1.2-2'}}</td>
                    <td>{{season.totals.savePct | number:'0.3-3'}}</td>
                    <td>
                        @for (award of getSeasonAwards(season.season); track $index) {
                            <app-award-badge [award]="award"/>
                            <br/>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
