<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GP</th>
            <th>GS</th>
            <th>W</th>
            <th>L</th>
            <th>GAA</th>
            <th>Sv%</th>
            <th>Awards</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonTotals(); track $index) {
            @if (season.gamesPlayed > 0) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.team.triCode}}</th>
                    <td [innerHTML]="season.gamesPlayed | boldRecord: season.records?.maxGamesPlayed"></td>
                    <td [innerHTML]="season.gamesStarted | boldRecord: season.records?.maxGamesStarted"></td>
                    <td [innerHTML]="season.wins | boldRecord: season.records?.maxWins"></td>
                    <td [innerHTML]="season.losses | boldRecord: season.records?.maxLosses"></td>
                    <td>{{season.goalsAgainstAvg | number: '1.2-2'}}</td>
                    <td>{{season.savePct | number:'0.3-3'}}</td>
                    <td>
                        @for (award of getSeasonAwards(season.season); track $index) {
                            <app-award-badge [award]="award"/>
                            <br/>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
