@if (error()) {
    <p> {{ error() }} </p>
} @else if (playerData() != null) {
    <div class="card shadow-sm min-w-65">
        <figure>
            <img
                [src]="playerData()!.headshot"
                alt="Headshot" />
        </figure>
        <div class="card-body">
            <h1 class="card-title text-3xl">{{playerData()!.firstName}} {{playerData()!.lastName}}</h1>
            <h2 class="text-lg text-base-content"> {{playerData()!.position | position}} | {{playerData()!.team?.fullName}} | #{{playerData()!.sweaterNumber}}</h2>
            <ul class="list-none">
                <li> <b>Nationality:</b> {{ playerData()!.birthCountry }} </li>
                <li> <b>Age:</b> {{ playerData()!.birthDate | age}} </li>
                <li> <b>Height:</b> {{ playerData()!.heightInInches | height: 'in' }} </li>
                <li> <b>Weight:</b> {{ playerData()!.weightInPounds }} lbs </li>
                @if (playerData()!.position === "G") {
                    <li> <b>Catches:</b> {{ playerData()!.shootsCatches }} </li>
                } @else {
                    <li> <b>Shoots:</b> {{ playerData()!.shootsCatches }} </li>
                }
                <li> <b>Draft:</b> Round {{ playerData()!.draftRound }}, Pick {{ playerData()!.draftPickInRound }} (#{{ playerData()!.draftOverallPick}} OVR) </li>
            </ul>
        </div>
    </div>
}
