<table class="table table-auto">
    <thead>
        <tr>
            <th class="cursor-pointer" (click)="sortService.toggleSort('season')">
                <div class="float-left text-left">Season</div><div class="float-right text-right">{{sortService.getSortIcon('season')}}</div>
            </th>
            <th>Team</th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('gamesPlayed')">
                GP {{sortService.getSortIcon('season')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('corsiFor')">
                CF% {{sortService.getSortIcon('corsiFor')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('fenwickFor')">
                FF% {{sortService.getSortIcon('fenwickFor')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('xgFor')">
                xG% {{sortService.getSortIcon('xgFor')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('onIceShootingPct')">
                oiSh% {{sortService.getSortIcon('onIceShootingPct')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('oZoneStarts')">
                OZS% {{sortService.getSortIcon('oZoneStarts')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('dZoneStarts')">
                DZS% {{sortService.getSortIcon('dZoneStarts')}}
            </th>
        </tr>
    </thead>
    <tbody>
        @for (season of stats(); track $index) {
            @if (season.onIce !== null) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.teamTriCodes.join('/')}}</th>
                    <td>{{season.totals.gamesPlayed}}</td>
                    <td>{{100 * season.onIce.corsiFor / (season.onIce.corsiFor + season.onIce.corsiAgainst)| number: '0.1-1'}}%</td>
                    <td>{{100 * season.onIce.fenwickFor / (season.onIce.fenwickFor + season.onIce.fenwickAgainst)| number: '0.1-1'}}%</td>
                    <td>{{100 * season.onIce.xgFor / (season.onIce.xgFor + season.onIce.xgAgainst)| number: '0.1-1'}}%</td>
                    <td>{{100 * season.onIce.onIceShootingPct | number: '0.1-1'}}%</td>
                    <td>{{100 * season.onIce.oZoneStarts / (season.onIce.oZoneStarts + season.onIce.nZoneStarts + season.onIce.dZoneStarts) | number: '0.1-1'}}%</td>
                    <td>{{100 * season.onIce.dZoneStarts / (season.onIce.oZoneStarts + season.onIce.nZoneStarts + season.onIce.dZoneStarts) | number: '0.1-1'}}%</td>
                </tr>
            }
        }
    </tbody>
</table>
