<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GP</th>
            <th>GSAx</th>
            <th>dFSv%</th>
            <th>EV Sv%</th>
            <th>PP Sv%</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonStats(); track $index) {
            @if (season.advanced !== null && season.totals.gamesPlayed > 0) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.teamTriCodes.join('/')}}</th>
                    <td>{{season.totals.gamesPlayed}}</td>
                    <td>{{season.advanced.xgAgainst - season.totals.goalsAgainst | number: '0.1-1'}}</td>
                    <td>{{100 * (season.advanced.xgAgainst - season.advanced.xgGoalsAgainst) / season.advanced.fenwickAgainst | number: '0.1-1'}}%</td>
                    <td>{{season.totals.evenStrengthSavePct | number:'0.3-3'}}</td>
                    <td>{{season.totals.powerPlaySavePct | number:'0.3-3'}}</td>
                </tr>
            }
        }
    </tbody>
</table>
