<div class="grid grid-cols-4">
    <div class="col-start-1">
        <app-player-filter/>
    </div>
    <div class="col-start-2 col-end-4">
        @if (playersToList() == null || playersToList().length == 0) {
            <div class="badge badge-error">Players Not Found</div>
        } @else {
            <div class="min-w-max pb-2">
                <app-player-list [players]="playersToList()"/>
            </div>
            @if (filteredPlayers().length > playersPerPage) {
                <div class="justify-self-center">
                    <div class="join">
                        <button class="join-item btn" (click)="firstPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M11 17l-5-5 5-5M18 17l-5-5 5-5"/></svg>
                        </button>
                        <button class="join-item btn" (click)="prevPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
                        </button>
                        <button class="join-item btn">{{currPage() + 1}}/{{maxPages()}}</button>
                        <button class="join-item btn" (click)="nextPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>
                        </button>
                        <button class="join-item btn" (click)="lastPage()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 17l5-5-5-5M6 17l5-5-5-5"/></svg>
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>