<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GSAx</th>
            <th>SV% Ax</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonTotals(); track $index) {
            @if (season.season >= 20142015 && season.gamesPlayed > 0) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.team.triCode}}</th>
                    <td>{{season.xgAgainst - season.actualGoalsAgainst | number: '0.1-1'}}</td>
                    <td>{{(season.xgAgainst / season.actualShotsAgainst) - (season.actualGoalsAgainst / season.actualShotsAgainst) | number: '0.3-3'}}</td>
                </tr>
            }
        }
    </tbody>
</table>
