<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GP</th>
            <th>GSAx</th>
            <th>dFSv%</th>
            <th>EV Sv%</th>
            <th>PP Sv%</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonTotals(); track $index) {
            @if (season.season >= 20142015 && season.gamesPlayed > 0) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.team.triCode}}</th>
                    <td>{{season.gamesPlayed}}</td>
                    <td>{{season.xgAgainst - season.goalsAgainst | number: '0.1-1'}}</td>
                    <td>{{100 * (season.xgAgainst - season.xgGoalsAgainst) / season.fenwickAgainst | number: '0.1-1'}}%</td>
                    <td>{{season.evenStrengthSavePct | number:'0.3-3'}}</td>
                    <td>{{season.powerPlaySavePct | number:'0.3-3'}}</td>
                </tr>
            }
        }
    </tbody>
</table>
