<table class="table table-auto">
    <thead>
        <tr>
            <th class="cursor-pointer" (click)="sortService.toggleSort('season')">
                <div class="float-left text-left">Season</div><div class="float-right text-right">{{sortService.getSortIcon('season')}}</div>
            </th>
            <th>Team</th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('gamesPlayed')">
                GP {{sortService.getSortIcon('gamesPlayed')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('goalsAx')">
                GAx {{sortService.getSortIcon('goalsAx')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('shootingPct')">
                Sh% {{sortService.getSortIcon('shootingPct')}}
            </th>
            <th class="cursor-pointer" (click)="sortService.toggleSort('deltaFenwick')">
                dFSh% {{sortService.getSortIcon('deltaFenwick')}}
            </th>
        </tr>
    </thead>
    <tbody>
        @for (season of stats(); track $index) {
            @if (season.shooting !== null) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.teamTriCodes.join('/')}}</th>
                    <td>{{season.totals.gamesPlayed}}</td>
                    <td>{{season.shooting.xgGoals - season.shooting.xg | number: '0.1-1'}}</td>
                    <td>{{100 * season.totals.goals / season.totals.sog | number: '0.1-1'}}%</td>
                    <td>{{100 * (season.shooting.xgGoals - season.shooting.xg) / season.shooting.fenwick | number: '0.1-1'}}%</td>
                </tr>
            }
        }
    </tbody>
</table>
