<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GAx</th>
            <th>US%</th>
            <th>xUS%</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonTotals(); track $index) {
            @if (season.season >= 20142015) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.team.triCode}}</th>
                    <td>{{season.actualGoals - season.xg | number: '0.1-1'}}</td>
                    <td>{{100 * season.goals / season.actualShotAttempts | number: '0.1-1'}}%</td>
                    <td>{{100 * season.xg / season.actualShotAttempts | number: '0.1-1'}}%</td>
                </tr>
            }
        }
    </tbody>
</table>
