<table class="table table-auto">
    <thead>
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>GP</th>
            <th>GAx</th>
            <th>Sh%</th>
            <th>dFSh%</th>
        </tr>
    </thead>
    <tbody>
        @for (season of seasonStats(); track $index) {
            @if (season.shooting !== null) {
                <tr class="hover:bg-primary-content">
                    <th>{{season.season | season}}</th>
                    <th>{{season.teamTriCode}}</th>
                    <td>{{season.totals.gamesPlayed}}</td>
                    <td>{{season.shooting.xgGoals - season.shooting.xg | number: '0.1-1'}}</td>
                    <td>{{100 * season.totals.goals / season.totals.sog | number: '0.1-1'}}%</td>
                    <td>{{100 * (season.shooting.xgGoals - season.shooting.xg) / season.shooting.fenwick | number: '0.1-1'}}%</td>
                </tr>
            }
        }
    </tbody>
</table>
