<div class="flex flex-row basis-auto gap-2">
    <div class="basis-auto min-w-45 max-w-70">
        @if (playerData() === null) {
            <div class="skeleton h-100 w-70"></div>
        } @else {
            <app-player-details [playerData]="playerData()!"/>
        }
    </div>
    <div class="basis-auto min-w-100">
        <div class="flex flex-col gap-2">
            <div class="join">
                <input class="join-item btn btn-lg" type="radio" name="reg_post" aria-label="Regular Season" checked="checked" (click)="selectRegular()">
                <input class="join-item btn btn-lg" type="radio" name="reg_post" aria-label="Playoffs" (click)="selectPlayoffs()"/>
            </div>
            <div class="rounded-box bg-base-200 shadow-md">
                <div class="tabs tabs-border tabs-lg">
                    <input type="radio" name="reg_season_tabs" class="tab" checked="checked" aria-label="Totals" />
                    <div class="tab-content overflow-x-auto overflow-y-auto rounded-box max-h-120 w-full">
                        @if (stats() === null || playerData() === null) {
                            <div class="skeleton h-50 w-200"></div>
                        } @else if (playerData()!.position === 'G'){
                            <app-goalie-totals-table [seasonStats]="$any(stats()!)" [awards]="awards()"/>
                        } @else {
                            <app-season-totals-table [seasonStats]="$any(stats()!)" [awards]="awards()"/>
                        }
                    </div>
                    @if (playerData()!.position !== 'G') {
                        <input type="radio" name="reg_season_tabs" class="tab" aria-label="Shooting" />
                        <div class="tab-content overflow-x-auto overflow-y-auto rounded-box max-h-120 w-full">
                            @if (stats() === null || playerData() === null) {
                                <div class="skeleton h-50 w-200"></div>
                            } @else {
                                <app-season-analytics-table [seasonStats]="$any(stats()!)"/>
                            }
                        </div>
                    
                        <input type="radio" name="reg_season_tabs" class="tab" aria-label="On-Ice" />
                        <div class="tab-content overflow-x-auto overflow-y-auto rounded-box max-h-120 w-full">
                            @if (stats() === null || playerData() === null) {
                                <div class="skeleton h-50 w-200"></div>
                            } @else {
                                <app-skater-onice-table [seasonStats]="$any(stats()!)"/>
                            }
                        </div>
                    }
                    @else {
                        <input type="radio" name="reg_season_tabs" class="tab" aria-label="Advanced" />
                        <div class="tab-content overflow-x-auto overflow-y-auto rounded-box max-h-120 w-full">
                            @if (stats() === null || playerData() === null) {
                                <div class="skeleton h-50 w-200"></div>
                            } @else {
                                <app-goalie-advanced-table [seasonStats]="$any(stats()!)"/>
                            }
                        </div>                    
                    }
                </div>
            </div>
        </div>
    </div>
</div>